@import "tailwindcss";

@theme inline {
  --color-brand-primary-light: #ECECFC;
  --color-border-variant-1: #99999933;
  --color-border-variant-2: #999999B2;
  --color-neutral-primary: #081820;
  --color-neutral-200: #E8E8E8;
  --color-neutral-400: #BBBBBB;
  --color-neutral-500: #A4A4A4;
  --color-neutral-700: #777777;
  --color-neutral-1000: #333333;
  --color-color-1000: #0D1431;
  --color-color-100: #BEC7ED;
  --color-color-700: #26398D;
  --color-primary-500: #257CFF;
  --color-primary-1000: #112FCF;
  --color-neutral-tertiary: #999999;
  --color-primary-100: #D3E5FF;
  --color-brand-on-brand: #F5F5F5;
  --color-secondary-alpha-10: #0D326A1A;
  --color-success-alpha-10: #1FC16B1A;
  --color-success-600: #1FC16B;
  --color-warning-500: #FFB41D;
  --color-warning-alpha-10: #FFDB431A;
  --color-error-500: #FA1024;
  --color-error-alpha-10: #FA10241A;
  --color-primary-alpha-10: #257CFF1A;

  --text-xxs: 10px;
  --shadow-drop-400: 0px 4px 4px -4px #0C0C0D0D, 0px 16px 32px -4px #0C0C0D1A;
  --shadow-e3: 0px 16px 40px -8px #585C5F29;
  --shadow-e2: 0px 16px 32px -12px #585C5F1A;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
  /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #999999;
  /* thumb color */
  border-radius: 10px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* Optional: for horizontal scrollbars */
::-webkit-scrollbar:horizontal {
  height: 8px;
}