@import "tailwindcss";

@theme inline {
  --color-brand-primary-light: #ECECFC;
  --color-border-variant-1: #99999933;
  --color-neutral-primary: #081820;
  --color-neutral-500: #A4A4A4;
  --color-neutral-700: #777777;
  --color-color-1000: #0D1431;
  --color-color-100: #BEC7ED;
  --color-primary-500: #257CFF;
  --color-primary-1000: #112FCF;
  --color-neutral-tertiary: #999999;
  --color-primary-100: #D3E5FF;

  --text-xxs: 10px;
  --shadow-drop-400: 0px 4px 4px -4px #0C0C0D0D, 0px 16px 32px -4px #0C0C0D1A;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}